[submodule "vim/bundle/Align"]
	path = vim/bundle/Align
	url = https://github.com/vim-scripts/Align.git
   ignore = untracked
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
   ignore = untracked
[submodule "vim/bundle/NERDTree"]
	path = vim/bundle/NERDTree
	url = https://github.com/scrooloose/nerdtree.git
   ignore = untracked
[submodule "vim/bundle/SearchComplete"]
	path = vim/bundle/SearchComplete
	url = https://github.com/vim-scripts/SearchComplete.git
   ignore = untracked
[submodule "vim/bundle/supertab"]
	path = vim/bundle/supertab
	url = https://github.com/ervandew/supertab.git
   ignore = untracked
[submodule "vim/bundle/vim-surround"]
	path = vim/bundle/vim-surround
	url = https://github.com/tpope/vim-surround.git
   ignore = untracked
[submodule "vim/bundle/taglist"]
	path = vim/bundle/taglist
	url = https://github.com/vim-scripts/taglist.vim.git
   ignore = untracked
